#root{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  // background: #30b4c0;
  // color: #fff;
  padding: 16px;
  margin: 0;
}

.menuItem{
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  padding: 8px;
  background: aqua;
  border-radius: 8px;
  cursor: pointer;
  &:hover{
    background: #fff;
    color: #000;
  }
}